/********************************************************************************************************/
/*                                                 CSS                                                  */
/********************************************************************************************************/

/* Reset default margin and padding */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/********************************************************************************************************/
/*                                          CSS for Background                                          */
/********************************************************************************************************/

body {
	background: rgb(163,200,203);
	background: linear-gradient(0deg, rgba(163,200,203,1) 0%, rgba(226,226,226,1) 57%, rgba(241,241,241,1) 75%, rgba(255,255,255,1) 100%);
	background-size: cover; /* Cover the entire viewport */
	font-family: Verdana, sans-serif; /* Default font family*/
}

/********************************************************************************************************/
/*                                           CSS for Buttons                                            */
/********************************************************************************************************/

#buttondark a {
	display: inline-block;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

#buttondark a:hover {
	background-color: #e2e2e2;
	color: #333;
}

#buttonlight a {
	display: inline-block;
	color: #333;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: rgba(100, 100, 100, 0.3);
	border: 2px solid #1e192c;
}

#buttonlight a:hover {
	color: #ccc;
	background-color: #1e192c;
}

/********************************************************************************************************/
/*                                      CSS for the Navigation Bar                                      */
/********************************************************************************************************/

nav {
	background-color: #333;
	padding: 10px 0;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
}

/********************************************************************************************************/
/*                                      CSS for the Header Section                                      */
/********************************************************************************************************/

header {
	text-align: center;
	padding: 20px 0;
	background: rgb(226,226,226);
	background: linear-gradient(180deg, rgba(226,226,226,1) 23%, rgba(241,241,241,1) 75%, rgba(250,250,250,1) 100%);
}

header h1 {
	font-size: 4.0em;
	font-family: 'Courier New', Courier, monospace;
	margin-bottom: 10px;
	font-variant: small-caps;
}

header p {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.5em;
}

header p2 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 3em;
}

/********************************************************************************************************/
/*                                         CSS for the Sections                                         */
/********************************************************************************************************/

/* Default padding for sections */
section {
	padding: 20px 0; /* Adjust as needed */
	text-align: center;
}

section h2 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 2em;
}

section h1 {
	font-family: 'Courier New', Courier, monospace;
}

/********************************************************************************************************/
/*                                      CSS for the About Section                                      */
/********************************************************************************************************/

#about {
	padding: 20px;
}

/********************************************************************************************************/
/*                                      CSS for the Resume Section                                      */
/********************************************************************************************************/

#resume {
	padding: 50px 0;
}

#resume h2 {
	font-size: 2em;
	margin-bottom: 20px;
}

/********************************************************************************************************/
/*                                      CSS for the Portfolio Items                                     */
/********************************************************************************************************/

.portfolio-item {
	margin-bottom: 30px;
}

.portfolio-item img {
	width: 100%;
	max-width: 300px;
	height: auto;
	border-radius: 5px;
}

.portfolio-item h3 {
	margin-top: 15px;
}

.portfolio-item p {
	font-style: italic;
}

/********************************************************************************************************/
/*                                        CSS for the Contact Form                                      */
/********************************************************************************************************/

form {
	margin-top: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
	width: 60%;
	padding: 10px;
	margin-bottom: 15px;
	border: 2px solid #1e192c;
	background-color: rgba(100, 100, 100, 0.3);
	border-radius: 5px;
}

textarea {
	height: 150px;
}

button[type="submit"] {
	display: inline-block;
	color: #333;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: rgba(100, 100, 100, 0.3);
	border: 2px solid #1e192c;
	cursor: pointer;
}

button[type="submit"]:hover {
	color: #ccc;
	background-color: #1e192c;
}

#buttonlight a {
	display: inline-block;
	color: #333;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: rgba(100, 100, 100, 0.3);
	border: 2px solid #1e192c;
}

/********************************************************************************************************/
/*                                      CSS for the Footer Section                                      */
/********************************************************************************************************/

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}

/********************************************************************************************************/
/*                                      CSS for Social Media Icons                                      */
/********************************************************************************************************/

.social-icons-container {
	text-align: center; /* Center the icons horizontally */
	margin: 50px auto; /* Default margin */
}

.social-icons,
.social-media-icons {
	list-style: none; /* Remove default list styles */
	padding: 0;
	margin: 0;
}

.social-icons li,
.social-media-icons a {
	display: inline-block; /* Display list items in a row */
	margin-right: 80px; /* Add spacing between icons */
}

.social-icons li:last-child,
.social-media-icons a:last-child {
	margin-right: 0; /* Remove margin from the last icon */
}

/********************************************************************************************************/
/*                                   MEDIA ENQUIRY FOR SMALLER SCREENS                                  */
/********************************************************************************************************/

/* SOCIAL ICONS */
@media screen and (max-width: 768px) {
	.social-icons-container .social-icons li,
	.social-icons-container .social-media-icons a {
		margin-right: 10px; /* Reduced spacing between icons for smaller screens */
	}

	.social-icons-container .social-icons img,
	.social-icons-container .social-media-icons img {
		width: 30px; /* Smaller icon size for smaller screens */
	}
}

/* H3 */
@media screen and (max-width: 768px) {
  .contact-item h3 {
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; /* Make the titles bold */
  }

  .contact-item p {
    margin: 10px 0; /* Add space between email and mobile */
  }
}

/*SECTION PADDING*/
@media screen and (max-width: 768px) {
	section {
		padding: 10px 0; /* Reduced padding for smaller screens */
	}
}