/********************************************************************************************************/
/*                                                 CSS                                                  */
/********************************************************************************************************/

/* Reset default margin and padding */
* {
	margin: 0; /* Sets margin to 0 */
	padding: 0; /* Sets padding to 0 */
	box-sizing: border-box; /* Includes padding and border in element's total width and height */
}

/********************************************************************************************************/
/*                                          CSS for Background                                          */
/********************************************************************************************************/

/* Styles for the background */
body {
	background: rgb(163, 200, 203); /* Background color */
	background: linear-gradient(0deg, rgba(163, 200, 203, 1) 0%, rgba(226, 226, 226, 1) 57%, rgba(241, 241, 241, 1) 75%, rgba(255, 255, 255, 1) 100%); /* Gradient background */
	background-size: cover; /* Cover the entire background */
	font-family: Verdana, sans-serif; /* Font family */
}

/********************************************************************************************************/
/*                                           CSS for Buttons                                            */
/********************************************************************************************************/

#buttonlight a {
	display: inline-block; /* Displays as block element */
	text-decoration: none; /* Removes underline from links */
	color: #333; /* Text color */
	padding: 10px 20px; /* Sets padding */
	border-radius: 5px; /* Adds rounded corners */
	transition: background-color 0.3s ease; /* Smooth transition effect */
	margin-top: 20px; /* Adds top margin */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
	border: 2px solid #1e192c; /* Border */
	background: rgb(186,214,219);
	background: radial-gradient(circle, rgba(186,214,219,0.5) 6%, rgba(167,197,202,0.5) 23%, rgba(163,200,203,0.5) 87%);
	
}

#buttonlight a:hover {
	color: #ccc; /* Text color on hover */
	background-color: #1e192c; /* Background color on hover */
	transition: background-color 0.3s ease; /* Smooth background color transition */
}

#buttondark a {
	background-color: #333; /* Background color for button */
	color: #fff; /* Text color for button */
}

#buttondark a:hover {
	background-color: #e2e2e2; /* Background color on hover */
	color: #333; /* Text color on hover */
}

/********************************************************************************************************/
/*                                      CSS for the Navigation Bar                                      */
/********************************************************************************************************/

/* Styles for the navigation bar */
nav {
	background-color: #333; /* Background color */
	padding: 10px 0; /* Padding */
}

nav ul {
	list-style-type: none; /* Removes default list style */
	text-align: center; /* Aligns text to center */
}

nav ul li {
	display: inline; /* Displays list items inline */
	margin-right: 20px; /* Adds right margin */
}

nav ul li a {
	text-decoration: none; /* Removes underline from links */
	color: #fff; /* Text color */
}

/********************************************************************************************************/
/*                                      CSS for Animations Section                                      */
/********************************************************************************************************/

/* Keyframes for Fade In Animation */
@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}

/* Keyframes for Scale Up Animation */
@keyframes scaleUp {
	from {
	  transform: scale(0);
	}
	to {
	  transform: scale(1);
	}
}

/* Keyframes for Slide In from Left Animation */
@keyframes slideInLeft {
	from {
	  transform: translateX(-100%);
	  opacity: 0;
	}
	to {
	  transform: translateX(0);
	  opacity: 1;
	}
}

/* Keyframes for Rotate Animation */
@keyframes rotate {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
}

/* Keyframes for Blink Animation */
@keyframes blink {
	50% {
	  opacity: 0;
	}
}

/* Keyframes for Slide In Down Animation */
@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/********************************************************************************************************/
/*                                      CSS for the Header Section                                      */
/********************************************************************************************************/

/* Styles for the header section */
header {
	text-align: center; /* Aligns text to center */
	padding: 20px 0; /* Padding */
	background: rgb(226, 226, 226); /* Background color */
	background: linear-gradient(180deg, rgba(226, 226, 226, 1) 23%, rgba(241, 241, 241, 1) 75%, rgba(250, 250, 250, 1) 100%); /* Gradient background */
}

header h1 {
	font-size: 4.0em; /* Font size */
	font-family: 'Courier New', Courier, monospace; /* Font family */
	margin-bottom: 10px; /* Adds bottom margin */
	font-variant: small-caps; /* Converts text to small caps */
	text-shadow: 2px 2px 4px rgba(143, 79, 180, 0.4); /* Add a text shadow */
	transform: scale(0);
	animation: scaleUp 1.5s forwards; /* Apply scaleIn animation / 1.5s - duration of animation 1.5 seconds / forwards - ensures that the element remains in the last keyframe of the animation rather than reverting to original state after*/
}

header p,
header p2 {
	font-family: 'Courier New', Courier, monospace; /* Font family */
	font-size: 1.5em; /* Font size */
}

header p2 {
	font-size: 3em; /* Font size */
}

header p {
	animation: slideInDown 1.5s forwards ease;
}

/********************************************************************************************************/
/*                                         CSS For the Sections                                         */
/********************************************************************************************************/

/* Styles for sections */
section {
	padding: 30px 0; /* Padding */
	text-align: center; /* Aligns text to center */
	opacity: 0; /* Initially hide the content */
}

section h2 {
	font-family: 'Courier New', Courier, monospace; /* Font family */
	font-size: 2em; /* Font size */
	margin-bottom: 10px; /* Adds bottom margin */
	text-shadow: 1.5px 1.5px 4px rgba(143, 79, 180, 0.4); /* Add a text shadow */
	/* TEXT SHADOW INFO: 2px - horizontal offset / 2px - Vertical Offset / 8px - Blur Radius */
	/* HEX #8f4fb4 = red143, green79, blue180 / alpha0.4 = 40% opacity*/
}

/* SECTION FADE INS */

.about-section {
	opacity: 0; /* Initially hide the content */
	animation: fadeIn 4s forwards; /* Apply the fadeIn animation */

}
.skills-section {
	opacity: 0; /* Initially hide the content */
	animation: fadeIn 6s forwards; /* Apply the fadeIn animation */

}
.portfolio-section {
	opacity: 0; /* Initially hide the content */
	animation: fadeIn 8s forwards; /* Apply the fadeIn animation */

}
.social-section {
	opacity: 0; /* Initially hide the content */
	animation: fadeIn 10s forwards; /* Apply the fadeIn animation */

}

/********************************************************************************************************/
/*                                      CSS for the Portfolio Items                                     */
/********************************************************************************************************/

/* Styles for portfolio items */
.portfolio-item {
	margin-bottom: 30px; /* Adds bottom margin */
}

.portfolio-item img {
	width: 100%; /* Sets image width to 100% */
	max-width: 300px; /* Sets maximum width for image */
	height: auto; /* Maintains aspect ratio */
	border-radius: 5px; /* Adds rounded corners to image */
}

.portfolio-item h3 {
	margin-top: 15px; /* Adds top margin */
}

.portfolio-item p {
	font-style: italic; /* Sets text style to italic */
}

/********************************************************************************************************/
/*                                      CSS for the Footer Section                                      */
/********************************************************************************************************/

/* Styles for the footer section */
footer {
	background-color: #333; /* Background color */
	color: #fff; /* Text color */
	text-align: center; /* Aligns text to center */
	padding: 20px 0; /* Padding */
}

/********************************************************************************************************/
/*                                      CSS for Social Media Icons                                      */
/********************************************************************************************************/

/* Styles for social media icons */
.social-icons-container {
	text-align: center; /* Aligns text to center */
	margin: 50px auto; /* Sets top and bottom margin, auto left and right margin */
}

.social-icons,
.social-media-icons {
	list-style: none; /* Removes default list style */
	padding: 0; /* Resets padding */
	margin: 0; /* Resets margin */
}

.social-icons li,
.social-media-icons a {
	display: inline-block; /* Displays as block element */
	margin-right: 80px; /* Adds right margin */
}

.social-icons li:last-child,
.social-media-icons a:last-child {
	margin-right: 0; /* Removes right margin from last element */
}

/********************************************************************************************************/
/*                                   MEDIA ENQUIRY FOR SMALLER SCREENS                                  */
/********************************************************************************************************/

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
	/* Social Media Icons */
	.social-icons-container .social-icons li,
	.social-icons-container .social-media-icons a {
		margin-right: 10px; /* Reduced spacing between icons */
	}

	.social-icons-container .social-icons img,
	.social-icons-container .social-media-icons img {
		width: 30px; /* Smaller icon size */
	}

	/* Contact Form */
	.contact-item h3 {
		margin-bottom: 10px; /* Adds bottom margin */
		font-family: 'Courier New', Courier, monospace; /* Font family */
		font-weight: bold; /* Sets font weight to bold */
	}

	.contact-item p {
		margin: 10px 0; /* Adds margin */
	}

	/* Sections */
	section {
		padding: 10px 0; /* Reduced padding for smaller screens */
	}
}

/********************************************************************************************************/
/*                                                 LINKS                                                */
/********************************************************************************************************/
a {
	color: #8f4fb4; /* Changing Colour of Links */
	text-decoration: none; /* Removes underline */
	transition: color 0.3s ease; /* Smooth color transition */
    cursor: pointer; /* Change cursor to pointer on hover */
	    color: #999; /* Change color of visited links */



}

a:hover {
    color: #8f4fb4; /* Change color on hover */
    text-decoration: underline; /* Underline on hover */
    font-weight: bold; /* Make links bold */
}

a:visited {
    color: #8f4fb4; /* Make it so visited links dont change colour */
}

/* a:visited { */
    /* color: #999; /* Other version where it changed the colour - dont want to get rid of yet */
/* } */
